 @font-face {
     font-family: "night-regular";
     src: url('./assets/font/nighttrial-regular.otf') format('opentype');
 }

 @font-face {
     font-family: "poppins-regular";
     src: url('./assets/font/PoppinsLatin-Regular.otf') format('opentype');
 }

 h1 {
     padding-top: 70px;
     font-family: "night-regular";

 }


 html,
 body {
     background: whitesmoke;
 }

 a {
     color: rgb(59, 246, 59);
 }

 p {
     padding-bottom: 10px;
     font-family: "poppins-regular";
     font-size: 13px;
     color: rgb(134, 134, 134);
 }

 .d-section {
     display: flex;
 }

 .box-section {
     width: 530px;
     height: 665px;
     background: white;
     box-shadow: 0px 0px 20px 10px rgb(47, 255, 40, 0.2);
     margin: 23px 10px 0 130px;
     border-radius: 10px;
 }

 .box-section .content-section {
     padding-left: 50px;
     padding-top: 50px;
 }

 .box-section .content-section .form-section {
     margin-top: 20px;
     font-family: "poppins-regular";
     font-size: 12px;
     font-weight: 100;
 }

 .box-section .content-section .title-input {
     padding-bottom: 6px;
     color: rgb(180, 176, 176);

 }


 .box-section .content-section .input-section {
     width: 420px;
     height: 30px;
     border-radius: 5px;
     border: 1px solid rgb(179, 171, 171);
     padding-left: 10px;

 }

 .box-section .content-section .input-section:focus {
     outline: 2px solid rgb(59, 246, 59);
     border: none;
     border-radius: 20px;
 }

 .box-section .content-section .btn-form {
     width: 433px;
     height: 35px;
     margin-top: 30px;
     background: rgb(59, 246, 59);
     border: none;
     color: white;
     border-radius: 5px;
     font-family: "poppins-regular";
align-items: center;
 }

 .img-section {
     width: 600px;
     height: 700px;
     margin: 4px 0 4px 220px;
 }

 @media (max-width:576px) {

     .d-section {
         display: flex;
         flex-direction: column-reverse;
     }
      .box-section {
      width: 530px;
     height: 665px; 
     background: white;
     box-shadow: 0px 0px 20px 10px rgb(47, 255, 40, 0.2);
      margin: 70px 130px 70px 138px; 
     /* border-radius: 10px; */
    
 }
  .img-section {
     width: 600px;
     height: 700px;

      margin: 4px 35px 4px 35px; 
 }
 }

 @media (max-width:768px) {
     .box-section {
         width: 530px;
         height: 665px;
         background: white;
         box-shadow: 0px 0px 20px 10px rgb(47, 255, 40, 0.2);
         margin: 115px 10px 25px 130px;
         border-radius: 10px;
     }

     .img-section {
         width: 600px;
         height: 700px;
         margin: 92px 50px 125px 220px;
     }

 } 